<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://janbronickikartkowka624901120210430212457.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9510c3bd-e6b2-45cb-8730-1f587b00a0af/resourcegroups/JanBronickiKartkowka624901120210430212457ResourceGroup/providers/Microsoft.Web/sites/JanBronickiKartkowka624901120210430212457</ResourceId>
    <UserName>$JanBronickiKartkowka624901120210430212457</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://janbronickikartkowka624901120210430212457.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>